* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
form {
  padding: 10px 200px 500px 10px;
}
h2 {
  margin-bottom: 10px;
}
fieldset {
  border-radius: 5px;
  width: 500px;
}

.input-1 {
  display: block;
  margin: 5px 0px 12px;
  width: 350px;
  border-radius: 5px;
  height: 30px;
}
textarea {
  width: 350px;
  max-height: 180px;
  min-height: 50px;
  display: block;
  margin: 5px 0px 5px;
  border-radius: 5px;
}
.input-2 {
  display: inline-block;
  cursor: pointer;
}
button {
  display: block;
  margin: 8px 0px 0px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 25px;
}
